<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
  <div class="container-fluid">
      <h2>Citas de: {{todayDateFiltered}}</h2>
    </div>
    <br>
    <div class="container">
      <table class="table table-bordered table-hover table-condensed ip" data-ng-hide="tablaCitasFlag">
          <tbody>
              <tr>
                  <th>Nombre</th>
                  <th>Hora de Inicio</th>
                  <th>Estado</th>
              </tr>
              <tr data-ng-repeat="cita in citas  | filter: search" data-ng-click="goAgregarHistorial($index)">
                  <td>{{cita.NombrePaciente}} {{cita.ApellidoPaciente}}</td>
                  <td>{{cita.HoraInicio}}</td>
                  <td>{{cita.Estado}}</td>
              </tr>
          </tbody>
      </table>
      <br><br>

      <a class="btn btn-primary" data-ng-click="verCitas()">Ver Citas</a>
    </div>
</body>
</html>
