﻿<form>
     <div ng-if="banderaDeCliente == null" ng-init="goAgregarCliente()"></div>
     <div class="container-fluid">
       <h1>Ingrese los Datos de su Pedido:</h1>
     </div>
    <div ng-if="verifique == true">
        <div ng-if="recetarioLenght == 0" ng-init="alerteTermino()"></div>
    </div>
    <div ng-if="boolEmpresa == true">
        <div ng-if="empresaBool == 'Farmatica'" ng-init="cambieEmpresa('F')"></div>
        <div ng-if="empresaBool == 'Phischel'" ng-init="cambieEmpresa('P')"></div>
    </div>
    <div class="container">
      <div class="form-group">
            <h4>Escriba el número de cédula del cliente:</h4>
            <input type="text" data-ng-model="cedulaCliente"/><br><br>
            <button class="btn btn-success" data-ng-click="verificarCliente()"> Agregar Cliente </button>
            <br><br>
            <h4>Seleccione Sucursal de Recojo:</h4>
            <div class="btn-block">
                <div class="btn-group" ng-class='{open: open}'>
                    <button class="btn ras" ng-click='open=!open'>{{sucActual}}</button>
                    <button class="btn ras  dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button><br />
                    <ul class="dropdown-menu">
                        <li ng-repeat="datos in recList"><a data-ng-click="addNoSuc(datos.NoSucursal,datos.Nombre)" required>{{datos.Nombre}}</a></li>
                    </ul>
                </div>
            </div>
            <br>
          </div><br><br>
      </div>
      <div class="container-fluid">
        <h1>Seleccione sus Medicamentos y Recetas:</h1>
      </div>
    <div class="container">
        <div class="form-group">
            <label for="exampleInputResidencia">Cantidad de medicamentos deseados:</label>
            <div class="container-fluid">
              <div class="col-md-2">
                <input class="form-control" id="exampleInputCantidad" maxlength="45" placeholder="Cantidad" data-ng-model="cantidad">
              </div>
            </div>
        </div><br><br>
        <div class="btn-block">
            <div class="btn-group" ng-class='{open: open}'>
                <button class="btn ras">{{medActual}}</button>
                <button class="btn ras dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-repeat="datos in medListP"><a data-ng-click="addMedPed(cantidad,datos.codigo,datos.Nombre,datos.Costo)">{{datos.Nombre}}</a></li>
                </ul>
            </div>
        </div><br>
        <h4>Medicamentos en el pedido: </h4>
        <table class="table table-bordered table-hover table-condensed ip">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>CostoUnitario</th>
                    <th></th>
                </tr>
                <tr data-ng-repeat="item in medListPed  | filter: search">
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Cantidad}}</td>
                    <td>{{item.Costo}}</td>
                    <td><input type="button" value="Borrar" class="btn btn-danger" data-ng-click="borrarMedPed($index)" /></td>
                </tr>
            </tbody>
        </table><br>
        <div>
            <div class="form-group">
            </div>
        </div>
        <h4>Fecha y hora de recojo:</h4>
        <div class="container-fluid">
          <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" input type="datetime-local" id="exampleInputQuantity" placeholder="0" data-ng-model="FechaR" required>
            </div>
            <br>
            <div>
                <button class="btn btn-success" data-ng-click="addPedido(FechaR,phones)"> Guardar </button>
                <button class="btn btn-secondary" data-ng-click="cancelar()"> Cancelar </button>
            </div>
          </div>
        </div>


    </form>
    </div>
