<!DOCTYPE html>
<html data-ng-app="DrPhischelApp">
<head>
    <meta charset="utf-8">
</head>

<body>
  <div class="container-fluid">
    <h1>Pacientes</h1>
  </div>
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Buscar Clientes" data-ng-model="search" />
          <h1>{{search}}</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-12">
        <table class="table table-bordered table-hover table-condensed ip">
            <tbody>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Residencia</th>
                </tr>
                <tr data-ng-repeat="paciente in listaPacientes  | filter: search" data-ng-click="goVerHistorialClienteEspecifico($index)">
                    <td>{{paciente.cedula}}</td>
                    <td>{{paciente.nombre}}</td>
                    <td>{{paciente.apellido}}</td>
                    <td>{{paciente.FechaNacimiento}}</td>
                    <td>{{paciente.Residencia}}</td>
                </tr>
            </tbody>
        </table> <br><br><br><br>
        <div class="form-group">
            <button data-ng-click="back()" class="btn btn-primary">Regresar</button>
        </div>


      </div>

    </div>






  </div>



</body>
</html>
