<!DOCTYPE html>
<html data-ng-app="DrPhischelApp">
<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="form-group">
        <h1>Historial del paciente: {{pacienteActual.nombre}}</h1>
        <input type="text" class="form-control" id="search" placeholder="Buscar Clientes" data-ng-model="search" />
        <h1>{{search}}</h1>
    </div>
    <table class="table table-bordered table-hover table-condensed ip">
        <tbody>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha de Nacimiento</th>
                <th>Residencia</th>
            </tr>
            <tr data-ng-repeat="entrada in listaHistorial | filter: search" data-ng-click="goVerHistorialCliente($index)">
                <td>{{paciente.cedula}}</td>
                <td>{{paciente.nombre}}</td>
                <td>{{entrada.Descripcion}}</td>
                <td>{{paciente.FechaNacimiento}}</td>
                <td>{{paciente.Residencia}}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <button data-ng-click="prueba()" class="btn btn-default">Regresar</button>
    </div>
</body>
</html>
