<html>
<head>
    <title>Dr.Phischel</title>
    <meta charset="utf-8">
</head>
<body>
    <header>
      <div class="container-fluid">
        <h2>Creación de pacientes:</h2>
      </div>

    </header>
    <div class="container">
        <div class="col-md-6">
            <br />
            <form action="" class="">
              <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input class="form-control" id="nombre" type="text" placeholder="Nombre:" data-ng-model="nuevoCliente.nombre">
              </div>
              <div class="form-group">
                  <label for="nombre">Apellidos:</label>
                  <input class="form-control" id="nombre" type="text" placeholder="Apellidos:" data-ng-model="nuevoCliente.apellido">
              </div>
                <div class="form-group">
                    <label for="cedula">Cedula:</label>
                    <input class="form-control" id="cedula" type="text" placeholder="Cedula:" data-ng-model="nuevoCliente.Cedula">
                </div>
                <div class="form-group">
                    <label for="nombre">Fecha Nacimiento:</label>
                    <input class="form-control" id="nombre" type="date" placeholder="Fecha de Nacimiento:" data-ng-model="nuevoCliente.FechaNacimiento">
                </div>
                <div class="form-group">
                    <label for="Residencia">Residencia:</label>
                    <input class="form-control" id="Residencia" type="text" step="any" min="0" placeholder="Residencia:" data-ng-model="nuevoCliente.Residencia">
                </div>
                <div class="form-group">
                    <label for="nombre">Altura:</label>
                    <input class="form-control" id="nombre" type="number" step="any" min="0" placeholder="Altura:" data-ng-model="nuevoCliente.altura">
                </div>
                <div class="form-group">
                    <label for="nombre">Peso:</label>
                    <input class="form-control" id="nombre" type="number" step="any" min="0" placeholder="Peso:" data-ng-model="nuevoCliente.peso">
                </div>
                <div class="form-group">
                    <label for="nombre">Seleccione el sexo del paciente:</label><br>
                    <input type="radio" name="opcion" id="radio1" data-ng-click="cambieSexo('M')">Masculino<br>
                    <input type="radio" name="opcion" id="radio1" data-ng-click="cambieSexo('F')">Femenino
                </div>
                <br><br>
                <a ng-click="enviarNuevoCliente()" class="btn btn-success">Guardar Paciente</a>
                <a href="#"class="btn btn-primary">Regresar</a>


        </div>



        </form>

    </div>



    <script src="http:code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
