<html data-ng-app="DrPhischelApp">
<head>
    <title>Dr.Phischel</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top finta" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" >
                        <span class="sr-only">Desplegar / Ocultar Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--Inicia Menu-->
                <div class="collapse navbar-collapse" id="navegacion-fp">
                    <ul class="nav navbar-nav">
                        <li class="active"><a>Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">Historial Clinico<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-click="goAgregarHistorial()">Agregar historial clinico</a></li>
                                <li class="divider"></li>
                                <li><a>Ver historial clinico</a></li>
                            </ul>
                        </li>
                        <li><a data-ng-click="goCrearPaciente()">Agregar Pacientes</a></li>
                        <li><a href="#">Calendario de citas</a></li>
                    </ul>
                </div>



            </div>

        </nav>
    </header>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-offset-1">
          <img src="../../htmlPages/VistaDoctor/imagenes/medicos1.jpg">
            </div>
        </div>
        <br><br><br>
        <div class="col-md-offset-3">
            <a href="#" class="btn btn-primary">Cargar Pacientes</a>
            <a href="#" class="btn btn-primary">Enviar Pedido</a>
            <a href="#" class="btn btn-primary">Solicitar Creacion de Usuario</a>


        </div>

    </div>

  </body>
</html>
