<html>
<head>
    <title>Dr.Phischel</title>
    <meta charset="utf-8">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fp">
                        <span class="sr-only">Desplegar / Ocultar Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--Inicia Menu-->
                <div class="collapse navbar-collapse " id="navegacion-fp">
                    <ul class="nav navbar-nav">
                        <li class="active"><h3> Creación de Pacientes<h3></li>
                </div>
        </nav>
    </header><br><br>
    <div class="container">
        <div class="col-md-6">
            <br />
            <form action="" class="">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" id="nombre" type="text" placeholder="Nombre:" data-ng-model="nuevoCliente.nombre">
                </div>
                <div class="form-group">
                    <label for="nombre">Apellidos:</label>
                    <input class="form-control" id="nombre" type="text" placeholder="Apellidos:" data-ng-model="nuevoCliente.apellidos">
                </div>
                <div class="form-group">
                    <label for="nombre">Edad:</label>
                    <input class="form-control" id="nombre" type="text" placeholder="Edad:" data-ng-model="nuevoCliente.edad">
                </div>
                <div class="form-group">
                    <label for="nombre">Número de Seguro Social:</label>
                    <input class="form-control" id="nombre" type="text" placeholder="Número de Seguro Social:" data-ng-model="nuevoCliente.nss">
                </div>
                <div class="form-group">
                    <label for="nombre">Seleccione el sexo del paciente:</label><br>
                    <input type="radio" name="opcion" id="radio1" data-ng-click="cambieSexo('M')">Masculino<br>
                    <input type="radio" name="opcion" id="radio1" data-ng-click="cambieSexo('F')">Femenino
                </div>
                <br><br>
                <a ng-click="enviarNuevoCliente()" class="btn btn-success">Guardar Paciente</a>


        </div>



        </form>

    </div>



    <script src="http:code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
