<html>
<head>
    <title>Dr.Phischel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
</head>
<body>
    <header>
      <div class="container-fluid">
        <h2>Creación de doctores:</h2>
      </div>

    </header>
    <div class="container">
        <div class="col-md-6">
            <br />
            <form action="" class="">
              <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input class="form-control" id="nombre" type="text" placeholder="Nombre:" data-ng-model="nuevoCliente.nombre">
              </div>
              <div class="form-group">
                  <label for="nombre">Apellidos:</label>
                  <input class="form-control" id="nombre" type="text" placeholder="Apellidos:" data-ng-model="nuevoCliente.apellido">
              </div>
                <div class="form-group">
                    <label for="cedula">Cedula:</label>
                    <input class="form-control" id="cedula" type="text" placeholder="Cedula:" data-ng-model="nuevoCliente.Cedula">
                </div>
                <div class="form-group">
                    <label for="nombre">Fecha Nacimiento:</label>
                    <input class="form-control" id="nombre" type="date" placeholder="Fecha de Nacimiento:" data-ng-model="nuevoCliente.FechaNacimiento">
                </div>
                <div class="form-group">
                    <label for="Residencia">Residencia:</label>
                    <input class="form-control" id="Residencia" type="text" step="any" min="0" placeholder="Residencia:" data-ng-model="nuevoCliente.Residencia">
                </div>
                <div class="form-group">
                    <label for="Especialidad">Especialidad:</label>
                    <input class="form-control" id="Residencia" type="text" step="any" min="0" placeholder="Especialidad:" data-ng-model="nuevoCliente.Residencia">
                </div>
                <div class="form-group">
                    <label for="Dirección del consultorio">Dirección del consultorio:</label>
                    <input class="form-control" id="Residencia" type="text" step="any" min="0" placeholder="Dirección del consultorio:" data-ng-model="nuevoCliente.Residencia">

                <br><br>
                <a ng-click="enviarNuevoCliente()" class="btn btn-success">Enviar Solicitud</a>
                <a href="#"class="btn btn-primary">Regresar</a>


        </div>



        </form>

    </div>



    <script src="http:code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
