<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
        <div ng-if="pediLosRoles">
            <div ng-repeat="rol in listaRoles">
                <div ng-if="esDoctor(rol.rol)" ng-init="activeDoctor()"></div>
                <div ng-if="esPaciente(rol.rol)" ng-init="activePaciente()"></div>
                <div ng-if="esAdmin(rol.rol)" ng-init="activeAdmin()"></div>
            </div>
        </div>
        <div class="container-fluid">
          <h4>Cédula</h4>
          <input type="text" data-ng-model="cedula" />
          <h4>Contraseña</h4>
          <input type="password" data-ng-model="contra" /><br><br>
          <button data-ng-click="ingresar()" class="btn btn-success" data-ng-disabled="!cedu && !contra">Ingresar</button>
          <button class="btn btn-danger">Solicitar creación de perfil de Doctor</button><br><br>
          <button data-ng-click="goPacienteView()" class="btn btn-primary" data-ng-hide="!pacienteDisponible">Paciente</button>
          <button data-ng-click="goDoctorView()" class="btn btn-primary" data-ng-hide="!doctorDisponible">Doctor</button>
          <button data-ng-click="goAdminView()" class="btn btn-primary" data-ng-hide="!adminDisponible">Administrador</button>
          <div ng-if="listaRolesLength == 0" ng-init="alerteNoRegistrado()"></div>

      </div>




</body>
</html>
