/*--Header*/
.navbar{
  background: #000;
  color: #FFF;
}
.jumbotron{
  background: #052C5A;
  color: #E96161;
  padding: 0px 0;
}
h3{
  color: #fff;
}
.finta{
margin-left: 0px;
margin-top: 0px;
padding-top: 0px;
}
.enep{
  background: #000;
}
.ras{
  background:#052C5A;
  color: #fff;
}
.sat{
  margin-top: 0px;
}
