<html data-ng-app="DrPhischelApp">
<head>
  <title>Dr.Phischel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/estilos.css">-->
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fp">
            <span class="sr-only">Desplegar / Ocultar Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!--Inicia Menu-->
        <div class="collapse navbar-collapse " id="navegacion-fp">
          <ul class="nav navbar-nav">
            <li class="active"><h3>Solicitud de citas<h3></li>
        </div>
      </nav>
  </header>
<br><br>
<div class="container">
  <div class="form-group">
    <label for="option">Ciudad</label>
      <select ng-options="ciu for ciu in Ciudades" class="form-control" data-ng-model="ciuSelected" data-ng-change="cambiarCiudadActual()">      
      </select>
    </div>
    <div class="form-group">
      <label for="option">Especialidad</label>
            <select ng-options="espe.Nombre for espe in Especialidades"class="form-control" data-ng-model="espeSelected" data-ng-change="cambiarEspecialidadActual()">              
            </select>
      </div>
    <div class="form-group">
      <label for="option">Doctor</label>
        <select ng-disabled="checked" ng-options="doc.nombre for doc in doctores" class="form-control" data-ng-model="docSelected" data-ng-change="cambiarDoctorActual()">
        </select>
        
      </div>
      <div class="form-group">
        <label for="option">Hora de Inicio</label>
          <input class="form-control" required name='hora' id='hora' type="datetime-local"  step="3600" data-ng-model="dateTime"/>
              <!--<select class="form-control" name="" id="option">
                <option value="">8:00am</option>
                <option value="">9:00am</option>
                <option value="">10:00am</option>
                <option value="">11:00am</option>
                <option value="">1:00pm</option>
                <option value="">2:00pm</option>
                <option value="">3:00pm</option>
                <option value="">4:00pm</option>
                <option value="">5:00pm</option>
              </select>-->
        </div> <br><br>
        <a class="btn btn-success" data-ng-click="prueba()">Solicitar Cita</a>



    </div>



    <div ng-if="citaResponse == null" ng-init="alerteErrorCita()"></div>
    <div ng-if="ciudadFlag && espeFlag" ng-init="habiliteDoctor()"></div>
    <div ng-if="cambioAlgo&&ciudadFlag&&espeFlag" ng-init="habiliteDoctor()"></div>
    <div ng-init="hagaFalse()"></div>







<script src="http:code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
