<html>
<head>
  <title>Dr.Phischel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/estilos.css">-->
</head>

<header>
  <div class="container-fluid">
    <h2>Departamento de Cobros</h2>
  </div>
</header>
<br><br>
<body>
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="form-group">
                <h4>Escoja el cobro a mostrar</h4>
                <input type="date" data-ng-model="dateCobro" /><br><br>

                <table class="table table-bordered table-hover table-condensed ip" data-ng-hide="tablaCitasFlag">
                    <tbody>
                        <tr>
                            <th>NoDoctor</th>
                            <th>Numero de Pacientes</th>
                            <th>Monto Al Cobro</th>
                        </tr>
                        <tr data-ng-repeat="cita in docsAlCobro  | filter: search" data-ng-click="goAgregarHistorial($index)">
                            <td>{{cita.NoDoctor}}</td>
                            <td>{{cita.NumeroPacientes}}</td>
                            <td>{{cita.MontoAlCobro}}</td>
                            <!--<td><input type="button" value="TerminarCita" class="btn btn-success" data-ng-click="terminarCita(cita)" /></td>-->
                        </tr>
                    </tbody>
                </table>
                <input type="button" value="Ver Cobros de Este Mes" class="btn btn-success" data-ng-click="verCobros()" data-ng-hide="dateCobro" />
                <!--<label for="option">Doctores</label>
                        <select class="form-control" name="" id="option">
                          <option value="">Ramiro Gonzalez Fernadez</option>
                          <option value="">Octavio Campos Martinez</option>
                          <option value="">Lucifer Martinez Solis</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="option">Periodo</label>
                          <select class="form-control" name="" id="option">
                            <option value="">Enero 2016</option>
                            <option value="">Febrero 2016</option>
                            <option value="">Marzo 2016</option>
                          </select>
                  </div>-->
            </div>
        </div>
    </div>




<script src="http:code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
