<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
  <div class="container-fluid">
    <h2>Doctores Pendientes:</h2>
    <table class="table table-bordered table-hover table-condensed ip">
          <tbody>
              <tr>
                  <th>Cedula</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th></th>
              </tr>
              <tr data-ng-repeat="doc in doctoresPendientes  | filter: search" data-ng-click="goAgregarHistorial($index)">
                  <td>{{doc.cedula}}</td>
                  <td>{{doc.nombre}}</td>
                  <td>{{doc.apellido}}</td>
                  <td><input type="button" value="Aceptar Doctor" class="btn btn-success" data-ng-click="aceptarDoctor($index)" /></td>
              </tr>
          </tbody>
      </table><br><br>
      <a class="btn btn-success" data-ng-click="verCitas()">Ver Citas</a>
  </div>


</body>
</html>
