<html>
<head>
  <title>Dr.Phischel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <div class="container-fluid">
    <h2>Sincronizar Sucursales:</h2>
  </div>
  <br><br>
  <div class="container-fluid">
    <div class="col-md-3">
      <nav class="navbar  navbar-static-top finta" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fp">
              <span class="sr-only">Desplegar / Ocultar Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!--Inicia Menu-->
          <div class="collapse navbar-collapse" id="navegacion-fp">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button">
                  Ver Sucursales <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a >Sucursales disponibles para sincronizar</a></li>
                  <li class="divider"></li>
                  <li data-ng-repeat="suc in listaSuc"><a data-ng-click="llameMeds(suc.NoSucursal,suc.Nombre)" data-ng-model="su">{{suc.Nombre}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>

  </div>

    <h2 data-ng-hide="tablaFlag">Medicamentos de la Sucursal: {{sucActualidad}}</h2>
    <table class="table table-bordered table-hover table-condensed ip" data-ng-hide="tablaFlag">
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Prescripcion</th>
                <th>Casa Farmaceutica</th>
                <th>Costo</th>
            </tr>
            <tr data-ng-repeat="med in medsDeSucursalSelected">
                <td>{{med.Nombre}}</td>
                <td>{{med.codigo}}</td>
                <td>{{med.Prescripcion}}</td>
                <td>{{med.CasaFarmaceutica}}</td>
                <td>{{med.Costo}}</td>
            </tr>
        </tbody>
    </table>
<br><br><br><br><br><br><br><br><br>
    <div class="col-md-3">
      <a data-ng-click="sincronizar()" class="btn btn-success">Sincronizar</a>
        <a data-ng-click="regresar()" class="btn btn-primary">Regresar</a>

    </div>




<script src="http:code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
